@import "./styles/global.scss";
@import "./styles/variables.scss";

.light {
  background-color: $neu-light-theme-color;
  color: $neu-light-font-color;
}

.dark {
  background-color: $neu-dark-theme-color;
  color: $neu-dark-font-color;
}

// .light,
// .dark {
//   transition: background-color 0.618s ease-in-out, color 0.618s ease-in-out;
// }

.main-container {
  position: relative;
  padding-top: 100px;
  overflow: hidden;
  height: calc(100vh - 146px);
}

.left-bar {
  float: left;
}
.right-bar {
  float: right;
}

.left-bar,
.right-bar {
  box-sizing: border-box;
  width: 300px;
  margin: 0 20px;
}

.content-bar {
  max-width: 1200px;
  height: 100%;
  overflow: auto;
  margin: auto;
}

.foot {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 0;
  text-align: center;
  line-height: 10px;
  font-size: 10px;
  letter-spacing: 1px;
  box-shadow: 0px -10px 10px #525252;
}

@media screen and (max-width: 1200px) {
  .left-bar,
  .right-bar {
    display: none;
  }
  .content-bar {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) and (max-width: 2000px) {
  .right-bar {
    display: none;
  }
}

// @media screen and (min-width: 2000px) and (max-width: 2048px) {

// }
