@import "./styles/global.scss";
@import "./styles/variables.scss";

.main-container {
  position: relative;
  height: 100vh;
}

.left-bar,
.right-bar {
  // @include sunken-container;
  width: 500px;
}

.left-bar {
  float: left;
}

.right-bar {
  float: right;
}

.content-bar {
  margin-left: 500px;
  margin-right: 500px;

  background-color: white;
}

@media screen and (max-width: 1300px) {
  .left-bar,
  .right-bar {
    display: none;
  }
  .content-bar {
    margin: 0;
  }
}

@media screen and (min-width: 1300px) and (max-width: 2000px) {
  .right-bar {
    display: none;
  }
  .content-bar {
    margin-right: 0;
  }
}
