@import "../../../styles/variables.scss";

.navbar-container {
  z-index: 9999;
  position: fixed;
  display: block;
  top: 10px;
  width: 100%;

  & > * {
    margin: 0;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-self: center;
    float: left;
    font-size: 38px;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 10px;
    margin-left: 16px;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    width: 50%;
    margin: auto;
    min-width: 380px;
    .link {
      font-weight: 700;
      font-size: 16px;
      cursor: pointer;
      padding: 10px 20px;
      animation: upAndDown 0.8s ease-in;
      animation-delay: calc(0.25s * var(--i));

      a {
        text-decoration: none;
        &:visited {
          color: inherit;
        }
      }
    }
  }

  .functional-part {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & > * {
      margin-right: 16px;
    }
  }
}

@keyframes upAndDown {
  0% {
    @include common;
  }

  50% {
    @include protuberant;
  }

  100% {
    @include common;
  }
}
