@import "../../../styles/variables.scss";

.test-container {
  padding: 20px;
  width: 100%;
  height: 1000px;
  text-align: center;
}

.standardSize {
  padding: 20px;
  overflow: hidden;
  margin: 10px;
  box-sizing: border-box;

  & > div {
    overflow: hidden;
    border-radius: 20px;
    & > * {
      height: 100%;
      width: 100%;
    }
  }
}

.basic {
  transition: all 0.618s ease-in-out;
  transition-duration: calc(0.5s * var(--i));
  background-color: $neu-dark-theme-color;
  color: $neu-dark-font-color;
}

.light {
  background-color: $neu-light-theme-color;
  color: $neu-light-font-color;
}

// 整体
// 突起
.protuberant,
.hover-protuberant:hover,
.active-protuberant:active {
  box-shadow: $neu-protuberant-container;
  border-radius: $neu-radio;
  margin: $neu-margin;
  margin-top: 6px;
  margin-bottom: 14px;
}

.protuberant.light,
.hover-protuberant.light:hover {
  box-shadow: $neu-protuberant-light-container;
}

// 塌陷
.sunken,
.hover-sunken:hover {
  box-shadow: $neu-sunken-container;
  border-radius: $neu-radio;
  margin: $neu-margin;
  margin-top: 14px;
  margin-bottom: 6px;
}

.sunken.light,
.hover-sunken.light:hover {
  box-shadow: $neu-sunken-light-container;
}

// 常规
.common,
.hover-common:hover {
  border-radius: $neu-radio;
  margin: $neu-margin;
  margin-top: 10px;
  margin-bottom: 10px;
}

// hover 平面 凹陷
.hover-depress:hover {
  @include concave;
}
// hover 平面 突出
.hover-pop:hover {
  @include convex;
}
// hover 平面 平面
.hover-flat:hover {
  @include flat;
}

// 表面突起
.convex {
  @include convex;
}
// 表面平坦
.flat {
  @include flat;
}
// 表面凹下
.concave {
  @include concave;
}

// hover 表面突起
.hover-convex:hover {
  @include convex;
}
// hover 表面平坦
.hover-flat:hover {
  @include flat;
}
// hover 表面凹下
.hover-concave:hover {
  @include concave;
}

.active-sunken:active {
  @include sunken;
}
.active-common:active {
  @include common;
}
