@import "../../../styles/variables.scss";

:root {
  --blur: 60px;
  --textColor: #001f3f;
  --textColorOpposite: #f6f5f7;
  --firstGradientColor: #dadada;
  --lightColor: #adadad;
  --secondGradientColor: #adadad;
  --positionX: 30px;
  --positionXOpposite: -30px;
  --positionY: 30px;
  --positionYOpposite: -30px;
  --angle: 145deg;
  --size: 150px;
  --radius: 10px;
  // --dark: black;
  // --light: white;
  --mt: 10px;
  --mb: 10px;
}

// .test-container {
//   padding: 20px;
//   width: 100%;
//   height: 1000px;
//   text-align: center;
// }

// .standardSize {
//   padding: 20px;
//   overflow: hidden;
//   margin: 10px;
//   box-sizing: border-box;

//   & > div {
//     overflow: hidden;
//     border-radius: 20px;
//     & > * {
//       height: 100%;
//       width: 100%;
//     }
//   }
// }

.basic {
  transition: background-color 0.309s ease-in-out, color 0.309s ease-in-out;
  transition-delay: calc(0.5s * var(--neuDelay));
  background-color: var(--baseColor);
  color: var(--textColor);
  border: var(--borderStyle);
}

.neu-button {
  border: none;
  cursor: pointer;
  border: var(--borderStyle);
  transition: none;
  vertical-align: middle;
  text-align: center;
  font-size: var(--buttonFontSize);
  padding: var(--buttonPadding);
  line-height: var(--buttonLineHeight);
  letter-spacing: var(--buttonLetterSpacing);
}

.neu-input-container,
.neu-input-before,
.neu-input-after {
  display: flex;
  justify-content: center;
  align-items: center;
}

.neu-input-container {
  padding: 4px;
  .neu-input {
    outline: none;
    border: none;
    transition: none;
    line-height: var(--inputLineHeight);
    letter-spacing: var(--inputLetterSpacing);
    background-color: inherit;
    padding: var(--inputPadding);
    font-size: var(--inputFontSize);
  }
  .neu-input-before,
  .neu-input-after {
    & > * {
      border-right: 1px solid var(--textColor);
    }
  }
  .neu-input-before {
    padding-right: 2px;
  }
  .neu-input-after {
    padding-left: 2px;
  }
}

.neu-button:hover,
.neu-input:focus {
  background-color: var(--lighterColor);
  transition: none;
}

// .light {
//   background-color: $neu-light-theme-color;
//   color: var(--textColor);
// }

.protuberant,
.common,
.sunken {
  border-radius: var(--radius);
}

// 整体

// 突起
.protuberant,
.hover-protuberant:hover,
.active-protuberant:active {
  box-shadow: var(--positionX) var(--positionY) var(--blur) var(--dark),
    var(--positionXOpposite) var(--positionYOpposite) var(--blur) var(--light);
  margin: $neu-margin;
  margin-top: calc(var(--mt) * 0.6);
  margin-bottom: calc(var(--mt) * 1.4);
  transition-delay: 0s;
}

.protuberant.light,
.hover-protuberant.light:hover,
.active-protuberant.light:active {
  box-shadow: var(--positionX) var(--positionY) var(--blur) var(--dark),
    var(--positionXOpposite) var(--positionYOpposite) var(--blur) var(--light);
}

// 常规
.common,
.hover-common:hover,
.active-common:active {
  box-shadow: none;
  margin: $neu-margin;
  margin-top: calc(var(--mt));
  margin-bottom: calc(var(--mt));
}

// 塌陷
.sunken,
.hover-sunken:hover,
.active-sunken:active {
  box-shadow: inset var(--positionX) var(--positionY) var(--blur) var(--dark),
    inset var(--positionXOpposite) var(--positionYOpposite) var(--blur)
      var(--light);
  margin: $neu-margin;
  margin-top: calc(var(--mt) * 1.4);
  margin-bottom: calc(var(--mt) * 0.6);
}

.sunken.light,
.hover-sunken.light:hover,
.active-sunken.light:active {
  box-shadow: inset var(--positionX) var(--positionY) var(--blur) var(--dark),
    inset var(--positionXOpposite) var(--positionYOpposite) var(--blur)
      var(--light);
}

// // hover 平面 凹陷
// .hover-depress:hover {
//   @include concave;
// }
// // hover 平面 突出
// .hover-pop:hover {
//   @include convex;
// }
// // hover 平面 平面
// .hover-flat:hover {
//   @include flat;
// }

// // 表面突起
// .convex {
//   @include convex;
// }
// // 表面平坦
// .flat {
//   @include flat;
// }
// // 表面凹下
// .concave {
//   @include concave;
// }

// // hover 表面突起
// .hover-convex:hover {
//   @include convex;
// }
// // hover 表面平坦
// .hover-flat:hover {
//   @include flat;
// }
// // hover 表面凹下
// .hover-concave:hover {
//   @include concave;
// }

// .active-sunken:active {
//   @include sunken;
// }
// .active-common:active {
//   @include common;
// }
