.login-container {
  min-width: 400px;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  .login-window {
    width: 400px;
    overflow: hidden;
    position: relative;
    margin: auto;
    .register {
      padding: 20px;
      display: flex;
      flex-direction: column;
      transition: all 0.5s ease;

      .appear {
        visibility: visible;
        // animation: disappear 1s ease;
        transition: color 0.618s, box-shadow 0.618s;
      }
      .disappear {
        box-shadow: none;
        color: rgba($color: #000000, $alpha: 0);
        visibility: hidden;
        // animation: appear 1s ease reverse;
        transition: all 0s 1s, color 0.618s, box-shadow 0.618s;
      }

      .hide {
        display: none;
      }
    }

    .buttons {
      width: 100%;
      text-align: center;
      & > * {
        display: block;
        width: 50%;
        margin: auto;
      }

      .welcome {
        font-size: 14px;
        width: 100%;
        margin: 12px auto;

        span {
          cursor: pointer;
          color: blue;
        }
      }

      .hide {
        height: 0;
        overflow: hidden;
        padding: 0;
        box-shadow: none;
        color: rgba($color: #000000, $alpha: 0);
        border: none;
      }
    }
  }
}

@keyframes disappear {
  0% {
  }
  100% {
    color: rgba($color: #000000, $alpha: 0);
    box-shadow: none;
  }
}

// @keyframes appear {
//   0% {
//   }
//   100% {
//     color: rgba($color: #000000, $alpha: 0);
//     box-shadow: none;
//   }
// }
